*{
    padding: 0.5em;
}

.searchbar{
    height: 1.5em;
    background-color: rgb(224, 224, 224);
}

#search-button{
    display: inline;
}

#searchable-map{
    width: 10em;
    height: 10em;
    border: 1px solid black;
}