*{
    padding: 0.5em;
}

.searchbar{
    height: 1.5em;
    background-color: rgb(224, 224, 224);
}

#search-button{
    display: inline;
}

#searchable-map{
    width: 70%;
    height: 15em;
}

#single-trip-map-container{
    width: 70%;
    height: 25em;
}

#my-trip{
    width: 16em;
    height: 100%;
    padding: 1em;
    overflow: scroll;
    border: 1px solid gray;
}

