<div class="edit-trip hidden" id="single-trip-section">
    <input type = "text" id = "edit-trip-name" default = "{{trip.name}}"></input>
    <input type = "text" id = "edit-trip-description" default = "{{trip.description}}"></input>

    <div id="places-list">
        <p>Place One</p>
        <p>Place Two</p>
        <p>Place Three</p>
        <p>Place Four</p>
        <p>Place Five</p>
        <p>Place Six</p>
        <p>Place Seven</p>
    </div>
</div>