{{#each results}}
<article class="search-result" id="{{this.place_id}}">
    <h4 class="result-name">{{this.name}}</h3>
    <p class="result-address">{{this.formatted_address}}</p>
</article>
{{/each}}