<section class="browse-section" id="browse-section">
    <h2>Browse Trips</h2>
    <div class="browse-container container">
        <div class="row">
        {{#each trips}}
            <div class="col-md" id="view-all-trips-container">
                <article class="trip card">
                    <div class="card-body">
                        <h3 class="trip-name card-title">{{this.name}}</h3>
                        <h4 class="trip-author">{{this.currentUser}}</h4>
                        <p class="trip-description card-text">{{this.description}}</p>
                        <button class="btn btn-secondary" id="view-trip">View Trip</button> 
                    </div> 
                </article>
            </div>
        {{/each}}
        </div>
    </div>
</section>
