<section class="browse-section" id="browse-section">
    <div class="browse-container container">
        <div class="row">
        {{#each trips}}
             <div class="col-md">
                <div class="trip-card">
                    <h4 class="trip-name">{{this.name}}</h4>
                    <h5 class="trip-author">{{this.currentUser}}</h4>
                    <p class="trip-description">{{this.description}}</p>
                    <button class="btn btn-secondary view-trip" id = "{{this.id}}">View Trip</button> 
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</section>
