<div class="view-single-trip" id="single-trip-section">
    <h3>{{trip.name}}</h3>
    <h4>{{trip.currentUser}}</h4>
    <p class="trip-description">{{trip.description}}</p>

    <div class="container">
        <div id="single-trip-map-container"></div>
        <div id="details-container"></div>
    </div>
</div>